/* SECTION #1 */
section.contact {
    background-color: green;
    width: 100%;
    height: 100vh;
}
article.contactSection {
    background-color: lime;
    height: 100%;
}


/* RESPONSIVITY */
@media only screen and (max-width: 1280px) {}
@media only screen and (max-width: 768px) {}
@media only screen and (max-width: 450px) {}
@media only screen and (max-width: 360px) {}
