* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

section {
    width: 100%;
    height: 100vh;
}

article {
    height: 100%;
}

#home article {
    background-color: blue;
}

#about article {
    background-color: yellow;
}

#contact article {
    background-color: pink;
}

#chevron {
    position: fixed;
    right: 50px;
    bottom: 50px;

    width: 30px;
    height: 30px;
    border-radius: 50%;

    cursor: pointer;
}

#chevron i {
    color: black;
}
