.container {
    max-width: 800px;
}

.top {
    font-size: 1.2rem;
}

.paragraph {
    width: 100%;
}

.image-container {
    display: flex;
    gap: 5px;
}

.image-box {
    width: 200px;
    height: 300px;
    overflow: hidden;
}

img[src*="Nature"] {
    width: 100%;
}

img:not([src*="Nature"]) {
    height: 100%;
}
