* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: gray;
    padding-top: 100px;
}

.box {
    width: 150px;
    height: 300px;

    background: linear-gradient(to left, rgb(255,0,255), rgb(0,255,255));
    margin: 0px auto;
    border-radius: 20px;

    border-top: 3px double turquoise;
    border-left: 5px dashed orange;
    border-bottom: 10px dotted lime;
    border-right: 1px solid black;

    animation: spin360 5000ms linear infinite;
}

.box:hover {
    animation: chaos 250ms linear infinite;
}

.container:has(.box:hover) {
    background: radial-gradient(rgb(0,255,0), rgb(255,0,0));
    animation: bghuerotate 500ms linear infinite;
}

@keyframes spin360 {
    0% {
        transform: rotate(0deg);
        filter: hue-rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
        filter: hue-rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
        filter: hue-rotate(360deg);
    }
}

@keyframes chaos {
    0% {
        transform: rotate(0deg);
        filter: hue-rotate(0deg);
        scale: 1.0;
    }
    50% {
        transform: rotate(180deg);
        filter: hue-rotate(180deg);
        scale: 2.2;
    }
    100% {
        transform: rotate(360deg);
        filter: hue-rotate(360deg);
        scale: 1.0;
    }
}

@keyframes bghuerotate {
    0% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(180deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}
