/* ▼ ===================== ↓↓↓ | CUSTOM VALUES | ↓↓↓ ===================== ▼ */
/* ROOT */
:root {
    --color_light: #ffffff;
    --color_light_50: #ffffff50;
    --color_dark: #000000;
    --color_dark_50: #00000050;
    --color_grey: #888888;
    --color_theme: #8a2be2;
    --color_theme_50: #8a2be250;

    --padding_sections: 100px 0;

    --transition_fast: 150ms ease-in-out;
    --transition_mid: 300ms linear;
    --transition_slow: 500ms cubic-bezier(1, 0.5, 0, 0.51);
    --transition_elastic: 1000ms linear(0 0%, 0.22 2.1%, 0.86 6.5%, 1.11 8.6%, 1.3 10.7%, 1.35 11.8%, 1.37 12.9%, 1.37 13.7%, 1.36 14.5%, 1.32 16.2%, 1.03 21.8%, 0.94 24%, 0.89 25.9%, 0.88 26.85%, 0.87 27.8%, 0.87 29.25%, 0.88 30.7%, 0.91 32.4%, 0.98 36.4%, 1.01 38.3%, 1.04 40.5%, 1.05 42.7%, 1.05 44.1%, 1.04 45.7%, 1 53.3%, 0.99 55.4%, 0.98 57.5%, 0.99 60.7%, 1 68.1%, 1.01 72.2%, 1 86.7%, 1 100%);
    --transition_bounce: 1000ms linear(0 0%, 0 2.27%, 0.02 4.53%, 0.04 6.8%, 0.06 9.07%, 0.1 11.33%, 0.14 13.6%, 0.25 18.15%, 0.39 22.7%, 0.56 27.25%, 0.77 31.8%, 1 36.35%, 0.89 40.9%, 0.85 43.18%, 0.81 45.45%, 0.79 47.72%, 0.77 50%, 0.75 52.27%, 0.75 54.55%, 0.75 56.82%, 0.77 59.1%, 0.79 61.38%, 0.81 63.65%, 0.85 65.93%, 0.89 68.2%, 1 72.7%, 0.97 74.98%, 0.95 77.25%, 0.94 79.53%, 0.94 81.8%, 0.94 84.08%, 0.95 86.35%, 0.97 88.63%, 1 90.9%, 0.99 93.18%, 0.98 95.45%, 0.99 97.73%, 1 100%)
}

/* SCROLLBAR */
html {
  scrollbar-color: var(--color_theme) var(--color_theme_50);
  scrollbar-width: thin;
}
/* ▲ ===================== ↑↑↑ | CUSTOM VALUES | ↑↑↑ ===================== ▲ */



/* ▼ ===================== ↓↓↓ | ZEROING DEFAUTS | ↓↓↓ ===================== ▼ */
/* ALL */
* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;

    list-style: none;
    text-decoration: none;

    font-family: "Montserrat", sans-serif;
}
/* ▲ ===================== ↑↑↑ | ZEROING DEFAUTS | ↑↑↑ ===================== ▲ */



/* ▼ ===================== ↓↓↓ | GOOGLE FONTS | ↓↓↓ ===================== ▼ */
/* MONOTON */
.monoton-regular {
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* MONTSERRAT */
.montserrat-500 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
/* ▲ ===================== ↑↑↑ | GOOGLE FONTS | ↑↑↑ ===================== ▲ */



/* ▼ ===================== ↓↓↓ | COMMON | ↓↓↓ ===================== ▼ */
/* CONTAINERS */
.section {
    width: min(1160px, 98%);
    height: 100%;
    margin: 0 auto;
    padding: 5px;
}

/* BUTTONS */
.btn {
  border-radius: 23px;
  /* min-width: 100px; */
  width: fit-content;
  /* height: 46px; */
  height: fit-content;
  padding: 10px 20px;
  outline: none;
  border: none;
  background: radial-gradient(var(--color_light), var(--color_theme));
  color: var(--color_theme);
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 600;
  cursor: pointer;
  transition: var(--transition_mid);
}
.btn:hover {
  color: var(--color_light);
  background: var(--color_theme);
  text-shadow: 0 0 10px var(--color_light);
  box-shadow: 0 0 20px var(--color_theme), 0 0 40px var(--color_theme);
}
.btn-secondary {
  background-color: var(--color_light);
}

/* FLEX CENTER */
.flexCC {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SELECTION */
::selection {
  background-color: var(--color_theme_50);
}
/* ▲ ===================== ↑↑↑ | COMMON | ↑↑↑ ===================== ▲ */



/* ▼ ===================== ↓↓↓ | ANIMATONS | ↓↓↓ ===================== ▼ */
/* UNTITLED */
@keyframes jiggleBoxes {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(-5deg);
    }
    50% {
      transform: rotate(0deg);
    }
    75% {
      transform: rotate(5deg);
    }
    100% {
      transform: rotate(0deg);
    }
}
@keyframes loadContent {
  0% {
    margin-top: 100%;
  }
  100% {
    margin-top: 0%;
  }
}
@keyframes jumpNbounce {
  0% {
    margin-left: 0px;
    rotate: 0deg;
    box-shadow: 0 0 10px red;
    scale: 1.0;
    filter: hue-rotate(0deg);
  }
  25% {
    margin-left: 30px;
    rotate: 5deg;
  }
  50% {
    margin-left: 0px;
    rotate: 0deg;
    box-shadow: 0 0 100px red;
    scale: 1.1;
  }
  75% {
    margin-left: -30px;
    rotate: -5deg;
  }
  100% {
    margin-left: 0px;
    rotate: 0deg;
    box-shadow: 0 0 10px red;
    scale: 1.0;
    filter: hue-rotate(360deg);
  }
}
@keyframes glowActive {
  0% {
    filter: drop-shadow(0 0 0px #ffffff);
  }
  100% {
    filter: drop-shadow(0 0 10px #ffffff);
  }
}
/* ▲ ===================== ↑↑↑ | ANIMATONS | ↑↑↑ ===================== ▲ */
