/* 451px-768px */
/* ▼ ===================== ↓↓↓ | HEADER | ↓↓↓ ===================== ▼ */
/* NAVBAR */
.headerContainer__navbar {
    border-right: 2px solid transparent;
    border-image: linear-gradient(0deg, transparent, var(--color_light)) 1;
    background: var(--color_theme);
    z-index: 5;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 50vw;
    height: 100vh;
    display: none;
    gap: 30px;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 50px;
    transition: var(--transition_mid);
}
.headerContainer__navbar > li > a {
    color: var(--color_dark);
}

/* PAGE BUTTONS */
#mobileBtn {
    visibility: visible;
    opacity: 100%;
}
/* ▲ ===================== ↑↑↑ | HEADER | ↑↑↑ ===================== ▲ */



/* ▼ ===================== ↓↓↓ | MAIN | ↓↓↓ ===================== ▼ */
/* HOME */
.carousel_button {
    width: 50px;
    height: 50px;
    font-size: 2rem;
}
.carousel_radios {
    top: 90%;
}
.homeCarouselCard > div {
    margin: 30vh auto 0;
    width: 50vw;
}
.homeCarouselCard > div > h2 {
    font-size: 3rem;
}
.homeCarouselCard > div > p {
    font-size: 1.5rem;
}

/* UNTITLED1 */
.catalog {
    flex-direction: column;
    height: 600px;
}
.catalogCard {
    width: 100vw;
    min-height: 200px;
}
.catalogCard:hover {
    min-width: 100vw;
    min-height: 400px;
}
.untitled1Container:has(.catalogCard:hover) {
    width: 100%;
}
.catalog:has(.catalogCard:hover) {
    height: fit-content;
}

/* UNTITLED2 */
.untitled2Container > p {
    margin-left: 5%;
    margin-right: 5%;
}

/* UNTITLED3 */
.untitled3Container > article {
    grid-template-columns: repeat(1, 1fr);
}

/* UNTITLED6 */
.untitled6Container > article > form {
    width: 90%;
}
/* ▲ ===================== ↑↑↑ | MAIN | ↑↑↑ ===================== ▲ */



/* ▼ ===================== ↓↓↓ | FOOTER | ↓↓↓ ===================== ▼ */
/* TOP SIDE */
.footerTop > div, .footerTop > ul {
    width: 100%;
}
.footerTop > div p, .footerTop > ul a {
    font-size: 2rem;
}
/* ▲ ===================== ↑↑↑ | FOOTER | ↑↑↑ ===================== ▲ */
