body {
    background-color: #222222;
}

.container {
    border: 2px solid rgba(255,255,255, 50%);
    width: 100%;
    /* min-height: 200px; */
    height: 100vh;

    display: grid;
    grid-template-columns: 19% 19% 19% 19% 19%;
    grid-template-rows: 19% 19% 19% 19% 19%;
    gap: 1.25%;
}

.box {
    border: 3px solid hsla(40,90%,40%,95%);

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 3rem;
    font-weight: 900;
    color: var(--default_textColor);
}

.box1 {
    grid-area: 2/2 / 5/5;
}
