* {
    margin: 0;
    padding: 0;
}

.container {
    margin: 50px auto;

    width: 500px;
    height: 400px;

    background-image: url(./premium_photo-1667030474693-6d0632f97029.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    
    border-radius: 30px;
    overflow: hidden;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.cover {
    z-index: 2;

    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,0.5);
    opacity: 90%;
    backdrop-filter: blur(20px);

    transition: 250ms ease-in-out;
}

.container:hover .cover {
    width: 100%;
    height: 0%;

    opacity: 60%;
}

.text {
    z-index: 1;

    position: absolute;
    top: 40px;
    left: 40px;

    font-size: 20px;
    font-weight: 900;
    color: rgb(0,0,0);
    filter: drop-shadow(0 0 10px rgb(255,0,0));

    opacity: 0;

    transition: 150ms ease-in;
    transition-delay: 150ms;
}

.container:hover .text {
    opacity: 100%;
}
