:root {
    --color-lime: lime;
}

* {
    margin: 0;
    padding: 0;
}

[class~="boxMargin"] {
    filter: drop-shadow(0 0 20px #FF0000);
}

.container {
    width: 600px;
    height: 500px;
    background-color: var(--color-lime);
    display: flex;
    position: relative;
}

.box {
    width: 100px;
    height: 100px;
    background-color: red;
    box-sizing: border-box;
    padding: 20px 30px 40px 50px;
}

.boxMargin {
    margin: 50px auto;
    background-color: yellow;
    /* border-style:groove; */
    /* border-color: blue; */
    border-width: 5px;
    border-radius: 30px;
    border-top: 3px dashed violet;
    border-bottom: 10px dotted gray;
    border-left: 1px solid black;
    border-right: 5px double orangered;
}

#box {
    width: 50px;
    height: 50px;
    background-color: #000000;
    border: 1px solid rgb(255,255,255);

    position: absolute;
    transform: translate(-50%, -50%);
    top: 325px;
    left: 275px;
    /* animation: spinnin 1000ms linear infinite; */
}

#box:hover {
    background-color: #FFF;
    border: 1px solid red;
    filter: drop-shadow(0 0 10px rgb(255,0,0));
    /* animation: none; */
}

/* @keyframes spinnin {
    0% {transform: rotate(0deg)}
    50% {transform: rotate(180deg)}
    100% {transform: rotate(360deg)}
} */
