* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.container {
    width: 800px;
    height: 600px;
    background-color: yellow;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;
}

.box {
    width: 100px;
    height: 100px;
    background-color: red;
}
